<fieldset class="terms-page">
    <div class="terms-main">
        <h2 id="main-txt">Why do we help with legalization?</h2>
        <p id="txt">We are here for UMKM in Indonesia to carry out the legalization process, wich is sometimes complicated.</p>
    </div>
    
    <div class="cart" id="first">
        <div class="in-cart">
            <img src="/assets/img/information.png" alt="Image">
            <h3 id="main-txt">Environmental Law</h3>
            <p id="txt">Environmental legal issues might occur since the planned activities are designed</p>
        </div>
    </div>
    <div class="cart" id="second">
        <div class="in-cart">
            <img src="/assets/img/bookmark.png" alt="Image">
            <h3 id="main-txt">Corporate and Commercial</h3>
            <p id="txt">We provide a complete range of services for the continuity of your business activities</p>
        </div>
    </div>
    <div class="cart" id="third">
        <div class="in-cart">
            <img src="/assets/img/play.png" alt="Image">
            <h3 id="main-txt">Information and Technology</h3>
            <p id="txt">It not followed by the existing regulation wich might cause legal uncertainty and business uncertainty</p>
        </div>
    </div>
    <div class="cart" id="fourth">
        <div class="in-cart">
            <img src="/assets/img/love.png" alt="Image">
            <h3 id="main-txt">Other Services</h3>
            <p id="txt">In dealing with disruptive economic and legal challenge, out firm also provide various legal services</p>
        </div>
    </div>
</fieldset>