<nav class="navbar bg-dark">
    <ul class="navbar">
        <li routerLinkActive="active">
            <a [routerLink]="['/contact']">CONTACT</a>
        </li>
        <li routerLinkActive="active">
            <a [routerLink]="['/testimonials']">TESTIMONIALS</a>
        </li>
        <li routerLinkActive="active">
            <a [routerLink]="['/information']">ABOUT</a>
        </li>
        <li routerLinkActive="active">
            <a [routerLink]="['/terms']">TERMS</a>
        </li>
    </ul>
</nav>

<app-information-page></app-information-page>
<app-terms-page></app-terms-page>
<app-testimonials-page></app-testimonials-page>
<app-contact-page></app-contact-page>

<fieldset class="end-page">
    <div class="imgs">
        <img src="/assets/img/call.png" alt="Image">
        <img src="/assets/img/home.png" alt="Image">
        <img src="/assets/img/pin.png" alt="Image">
        <img src="/assets/img/message.png" alt="Image">
    </div>
</fieldset>




<!--<router-outlet></router-outlet>-->
