<fieldset class="testimonials-page">
    <div class="testimonial-main">
        <h2>Clients Testimonial</h2>
    </div>

    <div class="test-cart" id="first-test">
        <div class="in-cart" id="test">
            <h3 id="main-txt">Incredible Experience</h3>
            <p id="txt">We had an incredible experience working with Landify and were impressed they made such a big difference in only three weeks. Our team is so grateful for the wonderful improvements they made and their ability to get familiar with the concept so quickly.</p>
        </div>
    </div>
    <div class="test-cart" id="second-test">
        <div class="in-cart" id="test">
            <h3 id="main-txt">Dependable, Responsive, Professional Partner</h3>
            <p id="txt">Fermin Apps has collaborated with Landify team for several projects such as Photo Sharing Apps and Custom Social Networking Apps. The experience has been pleasant, professional and exceeding our expectations.</p>
        </div>
    </div>

    <div class="first-badge">
        <img id="badge" src="/assets/img/badge.png" alt="Image">
    </div>
    <div class="mini-cart" id="first-mini">
        <div class="in-cart">
            <h4 id="main-txt">Anya Tailor Joy</h4>
            <p id="txt">CEO, SF Industries</p>
        </div>
    </div>
    <div class="second-badge">
        <img id="badge" src="/assets/img/badge.png" alt="Image">
    </div>
    <div class="mini-cart" id="second-mini">
        <div class="in-cart">
            <h4 id="main-txt">Sri Alam</h4>
            <p id="txt">CEO, Membagonkan GROUP</p>
        </div>
    </div>
</fieldset>
