<fieldset class="contact-page">
    <div class="first-ul">
        <ul class="contacts">
            <li id="main-li">Product</li>
            <li>Overview</li>
            <li>Features</li>
            <li>Tutorials</li>
            <li>Pricing</li>
            <li>Releases</li>
        </ul> 
    </div>

    <div class="second-ul">
        <ul class="contacts">
            <li id="main-li">Company</li>
            <li>About</li>
            <li>Press</li>
            <li>Careers</li>
            <li>Contact</li>
            <li>Partners</li>
        </ul> 
    </div>

    <div class="third-ul">
        <ul class="contacts">
            <li id="main-li">Support</li>
            <li>Help Center</li>
            <li>Terms of service</li>
            <li>Legal</li>
            <li>Privacy Policy</li>
            <li>Status</li>
        </ul> 
    </div>
</fieldset>
